<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>Hello, world!</title>
</head>

<body>
  <h1 class="ml-4">Pairwise Sequence Alignment Tool</h1>

  <div class="col-6">
    <hr/>
    <form method="post">
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm"><b>Sequence</b> - <i>m</i></span>
      </div>
      <input type="text" class="form-control" id="m" name="m" value="ATCCGATGCG">
    </div>
    <div class="input-group input-group-sm mb-3" >
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm" ><b>Sequence</b> - <i>n</i></span>
      </div>
      <input type="text" class="form-control" id="n" name="n" value="ACGCGCTGGGATCG">
    </div>
    <div class="row">
      <div class="col">
        <label for="match">Match</label>
        <input type="number" class="form-control" placeholder="Match" id="match" name="match" value="5">
      </div>
      <div class="col">
        <label for="mismatch">Mismatch</label>
        <input type="number" class="form-control" placeholder="Mismatch" id="mismatch" name="mismatch" value="-3">
      </div>
      <div class="col">
        <label for="indel">Insertion or Deletion</label>
        <input type="number" class="form-control" placeholder="Insertion or Deletion" id="indel" name="indel" value="-4">
      </div>
    </div>

      <hr/>

    <div class="row mt-3">
      <div class="col input-group-sm">
        <label for="algorithm">Algorithm</label>
        <select id="algorithm" class="form-control sm">
          <option selected>Needleman-Wunsch - (Global Alignment)</option>
          <option>Smith-Waterman - (Local Alignment)</option>
        </select>
      </div>
      <div class="col">
        <label for="submit"> &ensp; </label>
        <button type="submit" class="btn btn-dark btn-sm btn-block" id="submit">Align sequences</button>
      </div>
    </div>
  </form>
  </div>
  {% if ret%}

    <div class="col-6 mt-3">
      <hr/>
      <h3>Result</h3>
      <hr/>
      <pre>{{AlignA}}<br/>{{sep}}<br/>{{AlignB}}</pre>
    </div>
  {%endif%}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
